*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    background: #000;
}

header{
    text-align: center;
    padding: 10px 20px;
    margin: 3px 6px;
    background-color: skyblue;
    justify-content: center;
    position: relative;
}


h1 img{
    width: 33px;
}

.chatbox{
    width: 100vw;
    position: relative;
    min-height: 89vh;
    padding: 10px;
    margin: 5px auto;
    background:#fff;
    box-shadow: 0 3px #ccc;
      display: flex;
      flex-direction: column;
}
.chatlogs{
    padding: 10px;
    width: 100%;
    max-width: 500px; 
   flex: 8;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}


.chatlogs::-webkit-scrollbar{
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}

.status{
    padding: 15px;
    text-align: center;
    background: cadetblue;
    margin: 2%;
    border-radius: 10px;
}

.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}
.chat .user-photo{
    width: 60px;
    border-radius: 50%;
    height: 60px;
    background: #ccc;
    overflow: hidden;
}

.chat .user-photo img{
    width: 100%;
}


.chat .chat-message{
    
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

.bot {
  align-self: left;
}
.bot .chat-message{
    background: cadetblue;
    
}
.bot .user-photo img {
  
}

.self {
  align-self: right;
  justify-content: flex-end;
}
.self .chat-message{
    background: grey;
    order: -1;
}

.chat-form{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}



.chat-form input{
    background: #fbfbfb;
    width: 75%;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
}
.chat-form input:focus{
    background: #fff;
}

.chat-form input::-webkit-scrollbar{
    width: 10px;
}

.chat-form input::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}


.chat-form button{
    background: skyblue;
    padding: 5px 12px;
    font-size: 20px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #0eb2c1;
    cursor: pointer;
    

    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}

.chat-form button:hover{
    background: #13c8d9;
}
